
NN at Different Levels/data
NN at Different Levels/Level4_numpy_test.ipynb
NN at Different Levels/Level5_vanilla_python.ipynb
NN at Different Levels/README2.md
NN at Different Levels/technical_manual.md
